%section.guides-body.chapter-3.hidden{"data-chapter" => "3"}
  %ul.page-nav
    %li 2: Blockchain
    %li 4: Bitcoin

  %h3
    %span 3.0
    Blockchain

  %p.intro At its core, bitcoin is a smart currency, designed by very forward-thinking engineers. It eliminates the need for banks, gets rid of credit card fees, currency exchange fees, money transfer fees, and reduces the need for lawyers in transitions… all good things...

  %p.half-width Quo at agam movet, pri te duis fugit. Liber elaboraret mei id, an sit nibh voluptatum, odio discere fastidii at per. In his etiam simul constituto, at sale honestatis mea, illum mandamus vulputate nec ei. Ad nec ocurreret voluptatum, vel an dolor iudicabit.

  %p.half-width An vis agam iisque deleniti, has nulla consectetuer id. Eu sit mutat adipisci. Usu no natum dicta saperet, qui rebum dicant tibique an. Ea vix dictas inermis, et per nemore ornatus. Per ad lobortis iracundia, an tation munere impedit ius, ne tibique copiosae eam.

  =image_tag('chart-1.png', :class => 'guide-body-image');

  .guide-progress-bar
    .read
      %p 8/72
    .unread
