%section.guides-body.chapter-2.hidden{"data-chapter" => "2"}
  %ul.page-nav
    %li 1: Overview
    %li 3: Blockchain

  %h3
    %span 2.0
    Cryptocurrency


  %p Quo at agam movet, pri te duis fugit. Liber elaboraret mei id, an sit nibh voluptatum, odio discere fastidii at per. In his etiam simul constituto, at sale honestatis mea, illum mandamus vulputate nec ei. Ad nec ocurreret voluptatum, vel an dolor iudicabit.

  %p An vis agam iisque deleniti, has nulla consectetuer id. Eu sit mutat adipisci. Usu no natum dicta saperet, qui rebum dicant tibique an. Ea vix dictas inermis, et per nemore ornatus. Per ad lobortis iracundia, an tation munere impedit ius, ne tibique copiosae eam.


  .guide-progress-bar
    .read
      %p 8/72
    .unread
