%h1 Inman Style Guide

%br
%h2
  =link_to 'Brand Story', style_guide_story_path
%br
%h2
  =link_to 'Logo', style_guide_logo_path
%br
%h2
  =link_to 'Typography', style_guide_typography_path
%br
%h2
  =link_to 'Color Palette', style_guide_colors_path
%br
%h2
  =link_to 'Imagery and Graphics', style_guide_imagery_path
%br
%h2
  =link_to 'Voice', style_guide_voice_path
