=image_tag "inman-design-logo.png", :width => '120', :class => 'design-logo-main'

%h1 Typography Guide
%br

%h3
  =link_to 'Standard Article', style_guide_typography_path
%br
%h3
  =link_to 'Opinion Piece', style_guide_opinion_path
%br
%h3
  =link_to 'Orange', style_guide_orange_path
%br
-#
  %h3
    =link_to 'Brand Story', style_guide_story_path
  %br
  %h3
    =link_to 'Logo', style_guide_logo_path
  %br

  %h3
    =link_to 'Color Palette', style_guide_colors_path
  %br
  %h3
    =link_to 'Imagery and Graphics', style_guide_imagery_path
  %br
  %h3
    =link_to 'Voice', style_guide_voice_path
  %br
%h2 Design Explorations
%br

%h3
  =link_to "Article Recirculation", "#";
%br

%h3
  =link_to "Guides UX", design_explorations_guides_path;
%br
%h3
  =link_to "Unread items menu", design_explorations_new_stories_menu_path;
