=#render 'style_guide/partials/toc_index'

=render 'style_guide/partials/mainColumn_index'

=image_tag "inman-design-logo.png", :width => '120', :class => 'design-logo-main'

-#
  %h1 Typography Guide
  %br
  %section
    %section.article-types
      %h2 Article Types
      %h3
        =link_to 'Standard Article', article_path
      %h3
        =link_to 'Opinion Piece', opinion_path, :class => 'opinion-link'
      %h3
        =link_to 'Service Post', service_path, :class => 'service-link'
      %h3
        =link_to 'Interview', interview_path

    %section.rr-modules
      %h2 Right Rail Modules
      %h3
        =link_to 'Base Module', rr_base_path
      %h3
        =link_to 'Email Sign Up', rr_email_signup_path
    %section.recirculation
      %h2 Article Recirculation
      %h3
        =link_to 'Default Recirculation', recirc_default_path

  %h2 Charts & Graphs

-#
  %h2 Design Explorations(2018)

  %h3
    =link_to "Article Recirculation", "#";

  %h3
    =link_to "Guides UX", design_explorations_guides_path;

  %h3
    =link_to "Unread items menu", design_explorations_new_stories_menu_path;
