%section.toc-column
  =link_to '< back', root_path, :class => "back-btn"
  %h1 Article Typography
  %ul.type-instances
    %li
      Article Header
      %ul.type-group
        %li eyebrow
        %li image credit
        %li primary headline
        %li dek/sub-headline
        %li byline
        %li sharing
    %li
      Article Interior
      %ul.type-group
        %li body copy
        %li inline links
        %li block quote
        %li pull quote
        %li numbered lists
        %li bulleted lists
        %li video
        %li sharing module
        %li comments
    %li
      Right Rail
      %ul.type-group
        %li header
        %li module headline
        %li module byline
    %li
      Recirculation
      %ul.type-group
        %li related header
        %li related headline
        %li category header
        %li category headline
        %li guides header
        %li guide headline
%section.main-column
  =image_tag "inman-design-logo.png", :width => '120', :class => 'design-logo-main'
  %h3 Eyebrow
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px
    .sample
      %p.eyebrow
        =link_to 'TECHNOLOGY', '#', :class => "author-name"
        %span.author-name | Today 8:12 A.M.

  %h3 Main Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px
    .sample
      %h2.regular-article-headline How federal tax reform will raise state income taxes

  %h3 Dek/Sub-headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %p.dek Millions will choose the standard deduction over itemizing, but states have not raised their standard deductions
  %h3 Byline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %p.byline
        %span.author-name BY
        =link_to 'Emma Hinchliffe', '#', :class => "author-name"
        |
        =link_to '@emmah', '#'
        |
        =link_to 'emmah@inman.com', '#'

  %h3 body copy
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %p.body-copy
        There’s an unpleasant surprise awaiting homeowners who plan to use the standard deduction rather than itemize on their federal income tax next year. They could easily find themselves paying more in state income taxes in 2018 than 2017 because of the tax reform act.
      %p.body-copy
        State and federal income taxes are closely tied. Some 41 states and the District of Columbia start the tax calculations by linking to a form of income in federal tax returns.

  %h3 block quote
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %p.block-quote
        Thus, homeowners in the other 43 states who take the big federal standard deduction are stuck with the lower state standard deduction and cannot itemize at the state level.



  %h2 Video
  %section.specs

  %h3 Right Rail Headlines
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %ul.rr-headline-list
        %li
          %h2 7 home staging mistakes only rookies make
        %li
          %h2 7 home staging mistakes only rookies make
        %li
          %h2 7 home staging mistakes only rookies make
        %li
          %h2 7 home staging mistakes only rookies make
        %li
          %h2 7 home staging mistakes only rookies make


  %h2 Guides Circulation
  %section.specs
