#all-guides
  %h5.btn-guides.btn-close-guides-menu back to guide
  %h4
    Inman Guides /
    %span All

  %ul.guides-list
    %li
      .img
      .guide-card-title Guide Title 1
    %li
      .img
      .guide-card-title Guide Title 2
    %li
      .img
      .guide-card-title Guide Title 3
    %li
      .img
      .guide-card-title Guide Title 4
    %li
      .img
      .guide-card-title Guide Title 5
    %li
      .img
      .guide-card-title Guide Title 6
    %li
      .img
      .guide-card-title Guide Title 7
    %li
      .img
      .guide-card-title Guide Title 8
