.fake-inman-nav
  .top-bar
    %button.hamburger.hamburger--collapse{:type => "button"}
      %span.hamburger-box
        %span.hamburger-inner
    %h2 inman
    %span.account-btn Login
    .main-dropdown
      %ul
        %li
          hi
        %li
          hello

  .new-stories-nav
    %ul
      %li
        %span.close-subnav x
        %span
        New Stories
        .first-drop.drop
          %span
            .date January 30th
            %p Zillow to acquire Mortgage Lenders of America
            %p Plane carrying Pacific Union agents crashes, killing 5 people
            %p The guide to finding the best brokerage near you
            %p Zillow gets broker's license in Arizona
          %span
            .date January 29th
            %p Keller WIlliams award winning voice app Kelle, gets local
            %p Engel and Volkers parts with real estate advisor after DUI arrest, racially charged comments
            %p 5 Ways to calm your seller's nerves when showing listings
            %p The guide to second homes & vacation homes
            %p 12 thank you notes guaranteed to generate leads
            %p Dryer vent do's and dont's
          %span
            .date January 28th
            %p 5 Ways to calm your seller's nerves when showing listings
            %p The guide to second homes & vacation homes
            %p 12 thank you notes guaranteed to generate leads
            %p Dryer vent do's and dont's
      %li
        %span.close-subnav x
        Events
        .second-drop.drop
          %ul.events-wrap
            %li
              %h5 Connect Beverly Hills 2018
              %h4.event-venue Julliard Center
              %p.event-desc Lorem um quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
              =link_to("Luxury Connect >", "#")
              %span.event-date
                Oct
                %br
                18-25

            %li
              %h5 Connect Las Vegas 2019
              %h4.event-venue Julliard Center
              %p.event-desc Lorem um quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
              =link_to("Connect LV >", "#")
              %span.event-date
                Jan
                %br
                1-5
            %li
              %h5 Connect New York 2019
              %h4.event-venue Julliard Center
              %p.event-desc Lorem um quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
              =link_to("Connect Ny >", "#")
              %span.event-date
                Jul
                %br
                24-29


      %li
        %span.close-subnav x
        The Weekender
        .third-drop.drop
          %p Zillow to acquire Mortgage Lenders of America
          %p Plane carrying Pacific Union agents crashes, killing 5 people
          %p The guide to finding the best brokerage near you
          %p Zillow gets broker's license in Arizona
          %p Keller WIlliams award winning voice app Kelle, gets local
          %p Engel and Volkers parts with real estate advisor after DUI arrest, racially charged comments
          %p 5 Ways to calm your seller's nerves when showing listings
          %p The guide to second homes & vacation homes
          %p 12 thank you notes guaranteed to generate leads
          %p Dryer vent do's and dont's
