.section-wrap
  %h2 Related Stories

  %h3#recirc-related-header Header
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        30px
      %li
        %span
          Underline
        3px solid #5cb2e1

    .sample.recirc-related-header
      %p Stories related to: Trulia, Lorem

  %h3#recirc-related-headline Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#FFFFFF
      %li
        %span
          Size
        16px
    .sample.recirc-related-headline
      %p Five ways to improve your work/life balance

  %h3#recirc-related-blurb Blurb
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        30px
      %li
        %span
          Underline
        3px solid #5cb2e1
    .sample.recirc-related-blurb
      %p How do you help more clients without feeling like the marrow has been sucked from your bones?

  %h2 More in Category

  %h3#recirc-category-header Header
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        30px
      %li
        %span
          Underline
        3px solid #5cb2e1

    .sample.recirc-category-header
      %p Stories related to: Trulia, Lorem

  %h3#recirc-category-headline Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        30px
      %li
        %span
          Underline
        3px solid #5cb2e1

    .sample.recirc-category-headline
      %p Trelora launches in Seattle with unpopular marketing stunt

  %h3#recirc-category-blurb Blurb
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        30px
      %li
        %span
          Underline
        3px solid #5cb2e1

    .sample.recirc-related-blurb
      %p How do you help more clients without feeling like the marrow has been sucked from your bones?

  %h2 Guides

  %h3#recirc-guide-header Header
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        30px
      %li
        %span
          Underline
        3px solid #5cb2e1

    .sample.recirc-guide-header
      %p Stories related to: Trulia, Lorem

  %h3#recirc-guide-headline Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        30px
      %li
        %span
          Underline
        3px solid #5cb2e1

    .sample.recirc-guide-headline
      %p Tax Regulations

  %h3#recirc-guide-blurb Blurb
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        30px
      %li
        %span
          Underline
        3px solid #5cb2e1

    .sample.recirc-guide-blurb
      %p TBD
