.section-wrap
  %h2 RR Article Groups

  %h3#rr-header rr header
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        30px
      %li
        %span
          Underline
        3px solid #5cb2e1

    .sample
      %p.rr-header Read the News


  %h3#rr-headline RR Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Regular
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        22px

    .sample
      %p.rr-headline 7 home staging mistakes only rookies make

  %h3#rr-byline RR Byline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto Book
      %li
        %span
          Color
        \#999999
      %li
        %span
          Size
        10px
      %li
        %span
          Case
        Uppercase
      %li
        %span
          Letter Spacing
        1px

    .sample
      %p.byline.rr-byline
        BY
        =link_to 'Emma Hinchliffe', '#', :class => "author-name"
        | Nov 13
