.section-wrap
  %h2 RR Article Groups

  %h3#rr-header rr header
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %p.rr-header Read the News


  %h3#rr-headline RR Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %p.rr-headline 7 home staging mistakes only rookies make

  %h3#rr-byline RR Byline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %p.byline.rr-byline
        BY
        =link_to 'Emma Hinchliffe', '#', :class => "author-name"
        | Nov 13
