.section-wrap
  %h2 RR Article Groups

  %h3#rr-header rr header
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %p.block-quote
        Thus, homeowners in the other 43 states who take the big federal standard deduction are stuck with the lower state standard deduction and cannot itemize at the state level.


  %h3#rr-headline RR Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %ul.rr-headline-list
        %li
          %h2 7 home staging mistakes only rookies make

  %h3#rr-byline RR Byline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %ul.rr-headline-list
        %li
          %h2 7 home staging mistakes only rookies make
