.section-wrap
  %h2 Related Stories

  %h3#recirc-related-header Header
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        30px


    .sample.recirc-related-header
      %p Read Next

  %h3#recirc-related-headline Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet Text
      %li
        %span
          Weight
        Regular
      %li
        %span
          Color
        \#181717
      %li
        %span
          Size
        18px
    .sample.recirc-related-headline
      %p Five ways to improve your work/life balance
