.section-wrap
  %h2 overview
  =image_tag "inman-design-logo.png", :width => '120', :class => 'design-logo-main'

  .intro-container
    .welcome-text
      %p
        Color is the only thing that changes on the opinion piece, making it very similar to the base article in structure.

      .main-color
        %h3 Main Color
        %p #4e438e
        %p.swatch

    =image_tag "https://coab-alchemy-attachments.s3.amazonaws.com/opinion-graphic.png", :width => '540'

  .intro-container
    .harriet-sample
      %h3 Harriet
      .alphabet
        %p abcdefghijklm
        %p nopqrstuvwxyz
        %p 0123456789
      .scale
        %span aA
        %span aA
        %span aA
        %span aA
        %span aA
    .balto-sample
      %h3 Balto
      .alphabet
        %p abcdefghijklm
        %p nopqrstuvwxyz
        %p 0123456789
      .scale
        %span aA
        %span aA
        %span aA
        %span aA
        %span aA


  %br
