.section-wrap
  %h2 head
  %h3#primary-headline Primary Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet Display
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#FFFFFF
      %li
        %span
          Size
        60px
      %li
        %span
          line-height
        1
    .sample
      %h2.regular-article-headline
        the
        %br
        inman
        %br
        interview

  %h3#dek Dek/Sub-headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Medium
      %li
        %span
          Color
        \#5aaeda
      %li
        %span
          Size
        26px
      %li
        %span
          Line Height
        2.4

    .sample
      %p.dek Robert Refkin

  %h3#byline Byline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto Book
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        12px
      %li
        %span
          Case
        Uppercase
      %li
        %span
          Letter Spacing
        1px

    .sample
      %p.date 10.18.2019

      %p.byline
        %span.author-name BY
        =link_to 'Patrick Kearns', '#', :class => "author-name"

  %h3#sharing Sharing
  %section.specs
    %ul.specs-list.column-left
      %li

    .sample
      %p.sharing-top
        =link_to image_tag('https://coab-alchemy-attachments.s3.amazonaws.com/Social-Icons-black.png'), '#'


  %h2 Interior
  %h3#block-quote block quote
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet Text
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          line-height
        1.2

    .sample
      %p.body-copy The full interview, edited lightly for clarity and length, is below.
      %p.block-quote As you look back, are you satisfied with the rate at which Compass has grown?
      %p.body-copy I’m happy with the rate that the company’s grown. Most importantly I’m happy with how our agents feel about the company. I think it’s really building the community out with our agents across the country that are working together that are supporting each other. To me, it’s what gets me emotional joy, it’s what I’m most happy about.
