.section-wrap
  %h2 overview
  =image_tag "inman-design-logo.png", :width => '120', :class => 'design-logo-main'

  .intro-container
    .welcome-text
      %p
        Our two main typefaces are
        %span.bold Harriet Display
        and
        %span.bold Balto. Harriet
        acts as our display face and
        %span.bold Balto
        is used to support
        %span.bold Harriet
        and other utilitarian leaning contexts.

      .main-color
        %h3 Main Color
        %p #5aaeda
        %p.swatch

    =image_tag "type-intro.png", :width => '540'

  .intro-container
    .harriet-sample
      %h3 Harriet
      .alphabet
        %p abcdefghijklm
        %p nopqrstuvwxyz
        %p 0123456789
      .scale
        %span aA
        %span aA
        %span aA
        %span aA
        %span aA
    .balto-sample
      %h3 Balto
      .alphabet
        %p abcdefghijklm
        %p nopqrstuvwxyz
        %p 0123456789
      .scale
        %span aA
        %span aA
        %span aA
        %span aA
        %span aA


  %br
