.section-wrap
  %h2 overview
  =image_tag "inman-design-logo.png", :width => '120', :class => 'design-logo-main'

  .intro-container
    .welcome-text
      %p Our two main typefaces are Harriet Display and Balto. Harriet acts as our display face and Balto is used to support Harriet and other utilitarian contexts.
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.

    =image_tag "type-intro.png", :width => '540'

  .intro-container
    .harriet-sample
      %h3 Harriet
      .alphabet
        %p abcdefghijklm
        %p nopqrstuvwxyz
        %p 0123456789
      .scale
        %span aA
        %span aA
        %span aA
        %span aA
        %span aA
    .balto-sample
      %h3 Balto
      .alphabet
        %p abcdefghijklm
        %p nopqrstuvwxyz
        %p 0123456789
      .scale
        %span aA
        %span aA
        %span aA
        %span aA
        %span aA


  %br
