.section-wrap
  %h2 head
  %h3#primary-headline Primary Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        55px
      %li
        %span
          line-height
        1.1
    .sample
      %h2.regular-article-headline How federal tax reform will raise state income taxes

  %h3#dek Dek/Sub-headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet Display
      %li
        %span
          Weight
        Regular
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        23px
      %li
        %span
          Line Height
        1.4

    .sample
      %p.dek Millions will choose the standard deduction over itemizing, but states have not raised their standard deductions

  %h3#byline Byline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto Book
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        12px
      %li
        %span
          Case
        Uppercase
      %li
        %span
          Letter Spacing
        1px

    .sample
      %p.byline
        %span.author-name BY
        =link_to 'Emma Hinchliffe', '#', :class => "author-name"
        |
        =link_to '@emmah', '#'
        |
        =link_to 'emmah@inman.com', '#'
      %p.date April 5th, 2019

  %h3#sharing Sharing
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Bold
      %li
        %span
          Size
        18px
    .sample
      %p.sharing-top
        =link_to image_tag('https://coab-alchemy-attachments.s3.amazonaws.com/twitter.png'), '#'
        =link_to image_tag('https://coab-alchemy-attachments.s3.amazonaws.com/fb.png'), '#'
        =link_to image_tag('https://coab-alchemy-attachments.s3.amazonaws.com/linkedin.png'), '#'
        =link_to image_tag('https://coab-alchemy-attachments.s3.amazonaws.com/email.png'), '#'


  %h2 Interior
  %h3#block-quote block quote
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Padding
        0 2rem
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %p.body-copy Rosemont, Illinois-based VHT Studios, a 20-year-old provider of professional real estate photography, virtual staging and visual marketing services, announced today its acquisition of Circlepix's real estate photography business, a deal that brings together the country's two largest real estate photographer networks in North America.
      %p.block-quote The Circlepix photography business acquisition, which does not include its PIXmarketing and PIXsocial divisions, is the second photography business acquisition in the past two years for VHT Studios, after it snatched up New York’s Gotham Photo Company in 2015.
      %p.body-copy Around 300 Circlepix photographers around the country will join VHT Studios, raising the company's photographer count to approximately 900, and VHT Studios will inherit roughly 13,000 new clients in the deal, VHT Studios CEO Brian Balduf told Inman. Terms of the deal were not disclosed.
