// SERVICES
%section.main-column
  %h1 Sign Up
  .section-wrap

    %h3#signup-header Header
    %section.specs
      %ul.specs-list.column-left
        %li
          %span
            Family
          Balto
        %li
          %span
            Weight
          Bold
        %li
          %span
            Color
          \#333132
        %li
          %span
            Size
          18px
        %li
          %span
            Line-height
          1
      .sample.signup-header
        %p Sign up for Inman’s Property Portfolio

    %h3#signup-blurb blurb
    %section.specs
      %ul.specs-list.column-left
        %li
          %span
            Family
          Balto
        %li
          %span
            Weight
          Book
        %li
          %span
            Color
          \#333132
        %li
          %span
            Size
          12px
        %li
          %span
            Line-height
          1
      .sample.signup-blurb
        %p What you need to know to start your day with all the latest industry developments

    %h3#signup-button button
    %section.specs
      %ul.specs-list.column-left
        %li  
          %span
            Family
          Balto
        %li
          %span
            Weight
          Book
        %li
          %span
            Color
          \#FFFFFF
        %li
          %span
            Size
          18px
        %li
          %span
            background
          \#db3833
        %li
          %span
            border-radius
          10px
        %li
          %span
            text-align
          center
        %li
          %span
            padding
          6px
        %li
          %span
            width
          182px
      .sample.signup-button
        %p sign me up
