%section.main-column
  %h1.page-title Typography
  =render 'style_guide/partials/intro_typography'
  %h1 Article
  =render 'style_guide/partials/article_typography'
  %h1 Right Rail
  =render 'style_guide/partials/article_rightrail_typography'
  %h1 Recirculation
  .section-wrap
  %h1 Home Page
  .section-wrap
