// SERVICES
%section.main-column
  %h1 Typography Guide
  %br
  %div
    %section.article-types
      %h2 Article Types
      %h3
        =link_to 'Standard Article', article_path
      %h3
        =link_to 'Opinion Piece', opinion_path, :class => 'opinion-link'
      %h3
        =link_to 'Service Post', service_path, :class => 'service-link'
      %h3
        =link_to 'Interview', interview_path

    %section.rr-modules
      %h2 Right Rail Modules
      %h3
        =link_to 'Headline List', rr_base_path
      %h3
        =link_to 'Sign-Up CTA', rr_email_signup_path
    %section.recirculation
      %h2 Article Recirculation
      %h3
        =link_to 'Default Recirculation', recirc_default_path

  %h2 Charts & Graphs
