%section.main-column
  =render 'style_guide/partials/intro_typography'
  %h1 Article Post
  =render 'style_guide/partials/article_typography'
  %h1 Right Rail
  =render 'style_guide/partials/article_rightrail_typography'
  %h1 Recirculation
  =render 'style_guide/partials/article_recirc'
  -#
    %h1 Home Page
    .section-wrap
