.section-wrap
  %h2 head
  %h3#eyebrow Eyebrow
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto Bold
      %li
        %span
          Color
        \#4e438e
      %li
        %span
          Size
        18px
      %li
        %span
          Case
        Uppercase
      %li
        %span
          Letter Spacing
        1.4px
    .sample
      %p.eyebrow
        =link_to 'TECHNOLOGY', '#', :class => "author-name"
        =#span.author-name


  %h3#byline Byline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet Text
      %li
        %span
          Weight
        Regular
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        14px


    .sample
      %p.byline
        %span.author-name BY
        =link_to 'Emma Hinchliffe', '#', :class => "author-name"
        |
        =link_to '@emmah', '#'
        |
        =link_to 'emmah@inman.com', '#'
      %p.date April 5th, 2019
  %h3#image-credit Image Credit
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Book
      %li
        %span
          Link Color
        \#4e438e
      %li
        %span
          Size
        12px
      %li
        %span
          Letter-spacing
        1.6px
    .sample
      %p.image-credit
        Illustration by
        =link_to 'Pedro Correa', '#', :class => "author-name"
        %hr
