.section-wrap
  %h2 head
  %h3#opinion-headline Opinion Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        bold
      %li
        %span
          Color
        \#374145
      %li
        %span
          Size
        36px
      %li
        %span
          line-height
        1
    .sample
      %h2.opinion-headline Should federal tax reform raise state income taxes?

  %h2 Interior

  %h3#inline-links inline links
  %section.specs#inline-links
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#2d92d0
      %li
        %span
          On Hover
        Underline
      %li
        %span
          Visited
        \#2f719a

    .sample
      %p.body-copy
        There’s an
        =link_to "unpleasant surprise", "#", :class => "inline-link"
        awaiting homeowners who plan to use the
        =link_to "standard deduction", "#", :class => "inline-link"
        rather than itemize on their
        =link_to "federal income tax", "#", :class => "inline-link"
        next year. They could easily find themselves paying more in
        =link_to "state income taxes", "#", :class => "inline-link"
        in 2018 than 2017 because of the
        =link_to "tax reform act.", "#", :class => "inline-link"

  %h3#opinion-highlighted-text highlighted text
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Background
        \#544096
      %li
        %span
          Color
        \#FFFFFF

    .sample
      %p.body-copy
        Rosemont, Illinois-based VHT Studios, a 20-year-old provider of professional
        %span.opinion-highlighted-text real estate photography, virtual staging and visual marketing services,
        announced today its acquisition of Circlepix's real estate photography business, a deal that brings together the country's two...
  %h3#block-quote block quote
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Padding
        0 2rem
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %p.body-copy Rosemont, Illinois-based VHT Studios, a 20-year-old provider of professional real estate photography, virtual staging and visual marketing services, announced today its acquisition of Circlepix's real estate photography business, a deal that brings together the country's two largest real estate photographer networks in North America.
      %p.block-quote The Circlepix photography business acquisition, which does not include its PIXmarketing and PIXsocial divisions, is the second photography business acquisition in the past two years for VHT Studios, after it snatched up New York’s Gotham Photo Company in 2015.
      %p.body-copy Around 300 Circlepix photographers around the country will join VHT Studios, raising the company's photographer count to approximately 900, and VHT Studios will inherit roughly 13,000 new clients in the deal, VHT Studios CEO Brian Balduf told Inman. Terms of the deal were not disclosed.


  %h3#pull-quote pull quote
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Regular
      %li
        %span
          Color
        \#00aae8
      %li
        %span
          Size
        24px
      %li
        %span
          Width
        280px
      %li
        %span
          Line Height
        1.2
    .sample
      %p.pull-quote A deal that brings together the country's two largest real estate photographer networks

  %h3#numbered-lists numered lists
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#ffffff
      %li
        %span
          Size
        20px

    .sample
      %ol.numbered-list
        %li
          %span lorem ipsum
        %li
          %span poterum bloop
        %li
          %span lorem ipsum
        %li
          %span poterum bloop
        %li
          %span lorem ipsum

  %h3#bulleted-lists bulleted lists
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %ul.bullet-list
        %li lorem ipsum
        %li poterum bloop
        %li lorem ipsum
        %li poterum bloop
        %li lorem ipsum
