.section-wrap

  %h3#rr-header header
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        18px
      %li
        %span
          Underline
        1px solid #cccccc

    .sample
      %p.rr-header Read the News


  %h3#rr-headline headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Book
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        13px
      %li
        %span
          Line Height
        1.2
    .sample
      %p.rr-headline 7 home staging mistakes only rookies make
