.section-wrap
  %h2 head
  %h3#eyebrow Eyebrow
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto Bold
      %li
        %span
          Color
        \#fc7906
      %li
        %span
          Size
        18px
      %li
        %span
          Case
        Uppercase
      %li
        %span
          Letter Spacing
        1.4px
    .sample
      %p.eyebrow
        =link_to 'BACK TO BASICS', '#', :class => "author-name"
        =#span.author-name

  %h3primary-headline Services Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        55px
      %li
        %span
          line-height
        1.1
    .sample
      %h2.service-headline Should federal tax reform raise state income taxes?
  %h3#dek Dek/Sub-headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Medium
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        23px
      %li
        %span
          Line Height
        1.6

    .sample
      %p.dek Millions will choose the standard deduction over itemizing, but states have not raised their standard deductions

  %h3#byline Byline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet Text
      %li
        %span
          Weight
        Regular
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        12px
      %li
        %span
          Case
        Uppercase
      %li
        %span
          Letter Spacing
        1px

    .sample
      %p.byline
        %span.author-name BY
        =link_to 'Emma Hinchliffe', '#', :class => "author-name"
        |
        =link_to '@emmah', '#'
        |
        =link_to 'emmah@inman.com', '#'
      %p.date April 5th, 2019


  %h3#image-credit Image Credit
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Book
      %li
        %span
          Link Color
        \#fc7906
      %li
        %span
          Size
        12px
      %li
        %span
          Letter-spacing
        1.6px
    .sample
      %p.image-credit
        Illustration by
        =link_to 'Pedro Correa', '#', :class => "author-name"
        %hr

  %h2 Interior

  %h3#highlighted-text highlighted text
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Background
        \#fc7906

    .sample
      %p.body-copy
        Rosemont, Illinois-based VHT Studios, a 20-year-old provider of professional
        %span.highlighted-text real estate photography, virtual staging and visual marketing services,
        announced today its acquisition of Circlepix's real estate photography business, a deal that brings together the country's two...


  %h3#pull-quote pull quote
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Color
        \#fc7906
    .sample
      %p.pull-quote A deal that brings together the country's two largest real estate photographer networks

  %h3#numbered-lists numbered lists
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Number BG
        \#fc7906


    .sample
      %ol.numbered-list
        %li
          %span lorem ipsum
        %li
          %span poterum bloop
        %li
          %span lorem ipsum
        %li
          %span poterum bloop
        %li
          %span lorem ipsum

  %h3#bulleted-lists bulleted lists
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Bullet Color
        \#fc7906

    .sample
      %ul.bullet-list
        %li lorem ipsum
        %li poterum bloop
        %li lorem ipsum
        %li poterum bloop
        %li lorem ipsum
