.section-wrap
  %h2 head
  %h3#service-headline Services Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet Bold Italic
      %li
        %span
          Color
        \#544096
      %li
        %span
          Size
        36px
      %li
        %span
          line-height
        1
    .sample
      %h2.service-headline Should federal tax reform raise state income taxes?

  %h2 Interior

  %h3#service-body-copy body copy
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet Text Regular
      %li
        %span
          Color
        \#544096
      %li
        %span
          Link color
        \#544096
      %li
        %span
          Link decoration
        underline
      %li
        %span
          Size
        16px

    .sample
      %p.service-body-copy
        There’s an unpleasant surprise awaiting homeowners who plan to use the
        =link_to("standard deduction","#")
        rather than itemize on their federal income tax next year. They could easily find themselves paying more in state income taxes in 2018 than 2017 because of the tax reform act.
      %p.service-body-copy
        State and federal income taxes are closely tied. Some 41 states and the District of Columbia start the tax calculations by linking to a form of income in federal tax returns.

  %h3#service-highlighted-text highlighted text
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Background
        \#544096
      %li
        %span
          Color
        \#FFFFFF

    .sample
      %p.service-body-copy
        Rosemont, Illinois-based VHT Studios, a 20-year-old provider of professional
        %span.service-highlighted-text real estate photography, virtual staging and visual marketing services,
        announced today its acquisition of Circlepix's real estate photography business, a deal that brings together the country's two...

  %h3#service-pull-quote pull quote
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet Regular Italic
      %li
        %span
          Color
        \#544096
      %li
        %span
          Size
        24px
      %li
        %span
          Width
        280px
      %li
        %span
          Line Height
        1.2
    .sample
      %p.service-pull-quote A deal that brings together the country's two largest real estate photographer networks

  %h3#service-numbered-lists numered lists
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Bold
      %li
        %span
          Color
        \#ffffff
      %li
        %span
          Size
        20px

    .sample
      %ol.service-numbered-list
        %li
          %span lorem ipsum
        %li
          %span poterum bloop
        %li
          %span lorem ipsum
        %li
          %span poterum bloop
        %li
          %span lorem ipsum

  %h3#service-bulleted-lists bulleted lists
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet
      %li
        %span
          Weight
        Semibold
      %li
        %span
          Color
        \#333333
      %li
        %span
          Size, large screen
        30px

    .sample
      %ul.service-bullet-list
        %li lorem ipsum
        %li poterum bloop
        %li lorem ipsum
        %li poterum bloop
        %li lorem ipsum
