.section-wrap
  %h2 head
  %h3#eyebrow Eyebrow
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto Bold
      %li
        %span
          Color
        \#fc7906
      %li
        %span
          Size
        18px
      %li
        %span
          Case
        Uppercase
      %li
        %span
          Letter Spacing
        1.4px
    .sample
      %p.eyebrow
        =link_to 'BACK TO BASICS', '#', :class => "author-name"
        =#span.author-name

  %h3primary-headline Services Headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto Bold
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        55px
      %li
        %span
          line-height
        1.1
    .sample
      %h2.service-headline Should federal tax reform raise state income taxes?
  %h3#dek Dek/Sub-headline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Medium
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        23px
      %li
        %span
          Line Height
        1.6

    .sample
      %p.dek Millions will choose the standard deduction over itemizing, but states have not raised their standard deductions

  %h3#byline Byline
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Harriet Text
      %li
        %span
          Weight
        Regular
      %li
        %span
          Color
        \#000000
      %li
        %span
          Size
        12px
      %li
        %span
          Case
        Uppercase
      %li
        %span
          Letter Spacing
        1px

    .sample
      %p.byline
        %span.author-name BY
        =link_to 'Emma Hinchliffe', '#', :class => "author-name"
        |
        =link_to '@emmah', '#'
        |
        =link_to 'emmah@inman.com', '#'
      %p.date April 5th, 2019


  %h3#image-credit Image Credit
  %section.specs
    %ul.specs-list.column-left
      %li
        %span
          Family
        Balto
      %li
        %span
          Weight
        Book
      %li
        %span
          Link Color
        \#fc7906
      %li
        %span
          Size
        12px
      %li
        %span
          Letter-spacing
        1.6px
    .sample
      %p.image-credit
        Illustration by
        =link_to 'Pedro Correa', '#', :class => "author-name"
        %hr
