%section.toc-column
  =link_to '< back', root_path, :class => "back-btn"
  #btn-toggle-mobile
    %span.mobile mobile
    %span.random-line
    %span.random-rectangle
    %span.desktop desktop

  %h1.page-title
    Service
    %%br
    Typography
  %ul.type-instances
    %li
      Overview
  %h1 Service Post
  %ul.type-instances
    %li
      Head
      %ul.type-group
        %li
          =link_to 'service headline', '#service-headline'
    %li
      Interior
      %ul.type-group
        %li
          =link_to 'service body copy', '#service-body-copy'
        %li
          =link_to 'service links', '#service-links'
        %li
          =link_to 'service highlighted text', '#service-highlighted-text'
        %li
          =link_to 'service pull quote', '#service-pull-quote'
        %li
          =link_to 'service numbered lists', '#service-numbered-lists'
        %li
          =link_to 'service bulleted lists', '#service-bulleted-lists'

  %h1 Right Rail
  %ul.type-instances
    %li
      RR Trending Articles
      %ul.type-group
        %li
          =link_to 'rr header','#rr-header'
        %li
          =link_to 'rr headline','#rr-headline'
        %li
          =link_to 'rr byline','#rr-byline'
-#  %h1 Home Page
