%section.toc-column
  =link_to '< back', root_path, :class => "back-btn"
  #btn-toggle-mobile
    %span.mobile mobile
    %span.random-line
    %span.random-rectangle
    %span.desktop desktop

  %h1.page-title
    Recirculation


  %h1 Recirculation
  %ul.type-instances
    %li
      Related Stories
      %ul.type-group
        %li
          =link_to 'header','#recirc-related-header'
        %li
          =link_to 'headline','#recirc-related-headline'
