%section.toc-column
  =link_to '< back', root_path, :class => "back-btn"
  #btn-toggle-mobile
    %span.mobile mobile
    %span.random-line
    %span.random-rectangle
    %span.desktop desktop

  %h1.page-title
    Opinion
    %%br
    Typography
  %ul.type-instances
    %li
      Overview

  %h1 Opinion Post
  %ul.type-instances
    %li
      Head
      %ul.type-group
        %li
          =link_to 'eyebrow','#eyebrow'
        %li
          =link_to 'byline', '#byline'
        %li
          =link_to 'image credit', '#image-credit'
