%section.toc-column
  =link_to '< back', root_path, :class => "back-btn"
  #btn-toggle-mobile
    %span.mobile mobile
    %span.random-line
    %span.random-rectangle
    %span.desktop desktop

  %h1.page-title
    Opinion
    %%br
    Typography
  %ul.type-instances
    %li
      Overview

  %h1 Opinion Post
  %ul.type-instances
    %li
      Head
      %ul.type-group
        %li
          =link_to 'opinion headline', '#opinion-headline'
    %li
      Interior
      %ul.type-group
        %li
          =link_to 'body copy', '#opinion-body-copy'
        %li
          =link_to 'highlighted text', '#opinion-highlighted-text'
        %li
          =link_to 'pull quote', '#opinion-pull-quote'
        %li
          =link_to 'numbered lists', '#opinion-numbered-lists'
        %li
          =link_to 'bulleted lists', '#opinion-bulleted-lists'
