%section.toc-column
  =link_to '< back', root_path, :class => "back-btn"
  #btn-toggle-mobile
    %span.mobile mobile
    %span.random-line
    %span.random-rectangle
    %span.desktop desktop

  %h1.page-title
    Typography
    %%br
    Guide
