%section.toc-column
  =link_to '< back', root_path, :class => "back-btn"
  #btn-toggle-mobile
    %span.mobile mobile
    %span.random-line
    %span.random-rectangle
    %span.desktop desktop

  %h1.page-title
    Service
    %%br
    Typography
  %ul.type-instances
    %li
      Overview
  %h1 Service Post
  %ul.type-instances
    %li
      Head
      %ul.type-group
        %li
          =link_to 'eyebrow','#eyebrow'
        %li
          =link_to 'service headline', '#service-headline'
        %li
          =link_to 'dek/sub-headline', '#dek'
        %li
          =link_to 'byline', '#byline'
        %li
          =link_to 'image credit', '#image-credit'
    %li
      Interior
      %ul.type-group
        %li
          =link_to 'highlighted text', '#highlighted-text'
        %li
          =link_to 'pull quote', '#pull-quote'
        %li
          =link_to 'numbered lists', '#numbered-lists'
        %li
          =link_to 'bulleted lists', '#bulleted-lists'
