%section.toc-column
  =link_to '< back', root_path, :class => "back-btn"
  #btn-toggle-mobile
    %span.mobile mobile
    %span.random-line
    %span.random-rectangle
    %span.desktop desktop

  %h1.page-title Typography
  %ul.type-instances
    %li
      Overview
  %h1 Article
  %ul.type-instances
    %li
      Head
      %ul.type-group
        %li
          =link_to 'eyebrow','#eyebrow'
        %li
          =link_to 'primary headline', '#primary-headline'
        %li
          =link_to 'dek/sub-headline', '#dek'
        %li
          =link_to 'byline', '#byline'
        %li
          =link_to 'sharing', '#sharing'
        %li
          =link_to 'image credit', '#image-credit'
    %li
      Interior
      %ul.type-group
        %li
          =link_to 'body copy', '#body-copy'
        %li
          =link_to 'inline links', '#inline-links'
        %li
          =link_to 'highlighted text', '#highlighted-text'
        %li
          =link_to 'block quote', '#block-quote'
        %li
          =link_to 'pull quote', '#pull-quote'
        %li
          =link_to 'numbered lists', '#numbered-lists'
        %li
          =link_to 'bulleted lists', '#bulleted-lists'
    %li
      Right Rail
      %ul.type-group
        %li
          =link_to 'header', '#rr-header'
        %li
          =link_to 'headline', '#rr-headline'
        %li
          =link_to 'byline', '#rr-byline'
    %h1 Recirculation
    %h1 Home Page

    -#
      %li
        Recirculation
        %ul.type-group
          %li related header
          %li related headline
          %li category header
          %li category headline
          %li guides header
          %li guide headline
