%section.toc-column
  =link_to '< back', root_path, :class => "back-btn"
  #btn-toggle-mobile
    %span.mobile mobile
    %span.random-line
    %span.random-rectangle
    %span.desktop desktop

  %h1.page-title
    Right Rail
    %%br
    Modules

  %h1 Sign Up
  %ul.type-instances
    %li
      %ul.type-group
        %li
          =link_to 'header','#signup-header'
        %li
          =link_to 'blurb','#signup-blurb'
        %li
          =link_to 'button','#signup-button'
