%section.toc-column
  =link_to '< back', root_path, :class => "back-btn"
  #btn-toggle-mobile
    %span.mobile mobile
    %span.random-line
    %span.random-rectangle
    %span.desktop desktop

  %h1.page-title
    Right Rail
    %%br
    Base Module

  %h1 Right Rail
  %ul.type-instances
    %li
      RR Trending Articles
      %ul.type-group
        %li
          =link_to 'rr header','#rr-header'
        %li
          =link_to 'rr headline','#rr-headline'
