%section.toc-column
  =link_to '< back', root_path, :class => "back-btn"
  #btn-toggle-mobile
    %span.mobile mobile
    %span.random-line
    %span.random-rectangle
    %span.desktop desktop

  %h1.page-title
    Article
    %%br
    Typography
  %ul.type-instances
    %li
      Overview
  %h1 Article Post
  %ul.type-instances
    %li
      Head
      %ul.type-group
        %li
          =link_to 'eyebrow','#eyebrow'
        %li
          =link_to 'primary headline', '#primary-headline'
        %li
          =link_to 'dek/sub-headline', '#dek'
        %li
          =link_to 'byline', '#byline'
        %li
          =link_to 'sharing', '#sharing'
        %li
          =link_to 'image caption', '#image-caption'
        %li
          =link_to 'image credit', '#image-credit'
    %li
      Interior
      %ul.type-group
        %li
          =link_to 'body copy', '#body-copy'
        %li
          =link_to 'inline links', '#inline-links'
        %li
          =link_to 'highlighted text', '#highlighted-text'
        %li
          =link_to 'block quote', '#block-quote'
        %li
          =link_to 'pull quote', '#pull-quote'
        %li
          =link_to 'numbered lists', '#numbered-lists'
        %li
          =link_to 'bulleted lists', '#bulleted-lists'

  %h1 Opinion Post
  %ul.type-instances
    %li
      Head
      %ul.type-group
        %li
          =link_to 'opinion headline', '#opinion-headline'
    %li
      Interior
      %ul.type-group
        %li
          =link_to 'body copy', '#opinion-body-copy'
        %li
          =link_to 'highlighted text', '#opinion-highlighted-text'
        %li
          =link_to 'pull quote', '#opinion-pull-quote'
        %li
          =link_to 'numbered lists', '#opinion-numbered-lists'
        %li
          =link_to 'bulleted lists', '#opinion-bulleted-lists'
  %h1 Service Post
  %ul.type-instances
    %li
      Head
      %ul.type-group
        %li
          =link_to 'service headline', '#service-headline'
    %li
      Interior
      %ul.type-group
        %li
          =link_to 'service body copy', '#service-body-copy'
        %li
          =link_to 'service links', '#service-links'
        %li
          =link_to 'service highlighted text', '#service-highlighted-text'
        %li
          =link_to 'service pull quote', '#service-pull-quote'
        %li
          =link_to 'service numbered lists', '#service-numbered-lists'
        %li
          =link_to 'service bulleted lists', '#service-bulleted-lists'

  %h1 Right Rail
  %ul.type-instances
    %li
      RR Trending Articles
      %ul.type-group
        %li
          =link_to 'rr header','#rr-header'
        %li
          =link_to 'rr headline','#rr-headline'
        %li
          =link_to 'rr byline','#rr-byline'

  %h1 Recirculation
  %ul.type-instances
    %li
      Related Stories
      %ul.type-group
        %li
          =link_to 'header','#recirc-related-header'
        %li
          =link_to 'headline','#recirc-related-headline'
        %li
          =link_to 'blurb', '#recirc-related-blurb'
    %li
      More in Category
      %ul.type-group
        %li
          =link_to 'header','#recirc-category-header'
        %li
          =link_to 'headline','#recirc-category-headline'
        %li
          =link_to 'blurb', '#recirc-category-blurb'
    %li
      Guides
      %ul.type-group
        %li
          =link_to 'headline','#recirc-guide-header'
        %li
          =link_to 'headline','#recirc-guide-headline'
        %li
          =link_to 'blurb', '#recirc-guide-blurb'
-#  %h1 Home Page
