%section.guides-cover
  .left
  .right

.guides-toc
  TOC: 01 Crypto
  %ul
    %li cover
    %li overview
    %li Cryptocurrency
    %li Blockchain
    %li Business Implications
    %li lorem ipsum
.guides-rightSide
  %section.guides-body
    %h3 Chapter 1 Title
    %p Lorem ipsum dolor sit amet, oblique numquam intellegat et eam. Liber eleifend no cum. Homero laboramus consetetur at pri, vel ei iuvaret pertinax, no duo esse similique tincidunt. Ne duo debet oblique, id iudico putant regione vix.

    %p Sea id denique deleniti. Vis ad tation explicari repudiare. Ne eam petentium definitionem, vix ex quot minim invenire. Cibo recteque honestatis eam ad, an nemore verterem pri. Complectitur vituperatoribus ius ne, et sit elit posse, ius dico mundi choro no.

    %p.half-width Quo at agam movet, pri te duis fugit. Liber elaboraret mei id, an sit nibh voluptatum, odio discere fastidii at per. In his etiam simul constituto, at sale honestatis mea, illum mandamus vulputate nec ei. Ad nec ocurreret voluptatum, vel an dolor iudicabit.

    %p.half-width An vis agam iisque deleniti, has nulla consectetuer id. Eu sit mutat adipisci. Usu no natum dicta saperet, qui rebum dicant tibique an. Ea vix dictas inermis, et per nemore ornatus. Per ad lobortis iracundia, an tation munere impedit ius, ne tibique copiosae eam.

    =image_tag('chart-1.png', :class => 'guide-body-image');

    .guide-progress-bar
      .read
        %p 4/72
      .unread
