%section.guides-cover
  .left
  .right

= render '/partials/all-guides';

.guides-toc
  %h5.btn-guides.btn-all-guides All Guides

  %h6 01: Crypto & Real Estate
  %ul
    %li.toc-item{"data-chapter" => "0"} i. cover
    %li.toc-item{"data-chapter" => "1"} 1. overview
    %li.toc-item{"data-chapter" => "2"} 2. Cryptocurrency
    %li.toc-item{"data-chapter" => "3"} 3. Blockchain
    %li.toc-item{"data-chapter" => "4"} 4. Bitcoin
    %li.toc-item{"data-chapter" => "5"} 5. Etherium to Doge
    %li.toc-item{"data-chapter" => "6"} 6. lorem ipsum
    %li.sponsor
      sponsored by:
      =image_tag("sponsor.png");
.guides-rightSide
  =render "design_explorations/chapters/bitcoin-1";
  =render "design_explorations/chapters/bitcoin-2";
  =render "design_explorations/chapters/bitcoin-3";
  =render "design_explorations/chapters/bitcoin-4";
  =render "design_explorations/chapters/bitcoin-5";
  =render "design_explorations/chapters/bitcoin-6";
