.hat-nav
=image_tag('bwLogoInman.png', :class => "inman-logo-bw")
%p.main-headline Want your listing to stand out? Try these 5 buyer incentives
%span.lead-image
  %p.dek In a shifting market, agents will have to get creative in how they market their listings

%section
  .number-header
    1
    </br>
    Free Rent
  .copy-chunk
    .chunk-intro Kirkwood Homes recently implemented a new way of motivating buyers to buy its properties.
    .chunk-body Anyone who reserves a plot will receive a voucher of £19,000 (more than $24,000 USD) — enough to cover the costs of living in the house for a whole year! The voucher can be used for a variety of costs, including carpet and flooring, curtains and blinds, land and buildings transaction tax (LBTT), legal fees and removal fees.
    .chunk-body Buyers can choose between 51 detached house floor plans that include 3- and 4-bedroom terraced homes.

%section
  .number-header
    2
    </br>
    German Cars
  .copy-chunk
    .chunk-intro It has been a common gesture for builders to offer house appliances such as a dishwasher, an air conditioner or a stove, but certain builders will go even further to motivate buyers.
    .chunk-body Back in 2013, Kylemore Communities, a builder from Markham, Ontario, Canada, offered $35,000 CDN (more than $26,000 USD) toward any new BMW car with a purchase of a condo in one of their developments.
    .chunk-body Then, in 2015, Century 21 Bamber Realty, located in Calgary, Alberta, Canada, offered a brand-new Tesla car — a gift valued at more than $100,000 — to the buyer of a $2.349 million home that was listed with the brokerage.
    .chunk-body Many people question the motive for giving away big, expensive gifts, but brokerages and agents who opt for this strategy realize that the expensive gift may help prevent losing hundreds of thousands in price drops.
    .chunk-body These agents know that human psychology works as some potential buyers see these luxury gifts as something that’s worth more than a discount, even if that’s not really the case.
%section
  .number-header
    3
    </br>
    Reward Community
  .copy-chunk
    .chunk-intro As a token of appreciation for the individuals who help protect the community and livelihood of everyone, U.S.-based homebuilder K. Hovnanian offers to cover $5,000 of the price of its homes.
    .chunk-body This incentive is open to anyone in the civil service sector, including emergency medical teams (EMTs), hospital staff, firefighters, police officers and military men and women. Other builders have also joined in and are offering discounts on house prices for service men and women around the globe.
%section
  .number-header
    4
    </br>
    $1 Houses
  .copy-chunk
    .chunk-intro There is an Italian town called Ollolai, located on the island Sardinia. In this town, there are hundreds of small houses that are currently selling for as low as 1 euro.
    .chunk-body This incentive is open to anyone in the civil service sector, including emergency medical teams (EMTs), hospital staff, firefighters, police officers and military men and women. Other builders have also joined in and are offering discounts on house prices for service men and women around the globe.
%section
  .number-header
    5
    </br>
    $1 Houses
  .copy-chunk
    .chunk-intro Last year, Albuquerque Realtor Mike Leathers was willing to shell out $500 to the future owners of his townhome listing to compensate for the tacos of their choosing. The townhome up for grabs in Albuquerque was listed for $174,900. Five hundred dollars, that’s about 333 Taco Bell tacos.
    .chunk-body While this is just a sample of the more elaborate incentives we’ve come across, there are many other interesting incentives, including assured sales (guaranteed purchase if you decide to sell your property), shopping sprees, personalization packages, free trips to exotic locations, $3,000 Apple gift cards as well as the more conventional furniture, window coverings, credits for non-recurring closing costs, etc. and more.
    .chunk-body A little creativity is all it takes.
