@font-face {
  font-family: 'baltoBold';
  src: font-url('bb.otf'); /* IE9 Compat Modes */
  src: local("☺"),
    font-url("bb.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'baltoBook';
  src: font-url('bbook.otf'); /* IE9 Compat Modes */
  src: local("☺"),
    font-url("bbook.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'baltoMedium';
  src: font-url('bm.otf'); /* IE9 Compat Modes */
  src: local("☺"),
    font-url("bm.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'harrietbold';
  src: font-url('hb.otf'); /* IE9 Compat Modes */
  src: local("☺"),
    font-url("hb.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'harrietbold-italic';
  src: font-url('hbi.otf'); /* IE9 Compat Modes */
  src: local("☺"),
    font-url("hbi.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'harrietRegular';
  src: font-url('hr.otf'); /* IE9 Compat Modes */
  src: local("☺"),
    font-url("hr.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'harrietRegular-italic';
  src: font-url('hri.otf'); /* IE9 Compat Modes */
  src: local("☺"),
    font-url("hri.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'hli';
  src: font-url('hli.otf'); /* IE9 Compat Modes */
  src: local("☺"),
    font-url("hli.otf") format("opentype");
}
