body[data-controller="design_explorations"][data-action="new_stories_menu"] {
  .below-guides {
    display: none;
  }
  @media(max-width: 1024px){
    margin-bottom: 0;
    background: asset-url("mobile-hp.jpg") no-repeat center;
    background-position: 0 148px;
    background-size: cover;
  }
  background: asset-url("hp.jpg") no-repeat center;
  background-position: center 160px;
  background-size: 1200px;;
}
body[data-controller="design_explorations"][data-action="guides"], body[data-controller="design_explorations"][data-action="new_stories_menu"] {
  .fake-inman-nav {
    width: 100%;
    font-family: "baltoBook";
    height: 52px;
    background: #2d92d0;
    position: relative;
    top: 0;
    left: 0;
    padding:12px;
    @media(max-width: 1024px){
      margin-bottom: 0;
      height: 74px;
    }
    h2 {
      color: #ffffff;
      font-family: "baltoBold";
      font-size: 24px;
      background: asset-url("inman-logo.png") no-repeat center;
      background-size: contain;
      text-indent: -3000em;
      overflow: hidden;
      position: relative;
      top: 6px;
      @media(min-width: 1024px){
        font-size: 14px;
      }
    }
    .menu-btn {
      color: #fff;
    font-size: 14px;
      position: absolute;
      border: 1px solid #ffffff;
      padding: 5px 17px;
      line-height: 1.3;
      @media(max-width: 1024px){
        left: 34px;
        top: 14px;
        height: 48px;
        width: 127px;
        font-size: 32px;
      }
    }
    .account-btn {
      color: #fff;
      font-size:32px;
      position: absolute;
      right: 80px;
      top:20px;
      height: 23px;
      width: 36px;
      @media(min-width: 1024px){
        font-size: 14px;
      }
    }
  }



  .new-stories-nav {
    height:42px;
    font-size: 62px;
    font-family: "baltoBook";
    border-top: 1px solid #fff;
    @media(max-width:1024px) {
      height:76px;
    }
    background: #2d92d0;
    .drop {
      width:100vw;
      height:100vh;
      background: #ffffff;
    }
    ul {
      display: flex;
      justify-content: space-around;
      height:100%;
      box-sizing: initial;

      &.menu-border-on {
        border-bottom: 24px solid #5bafdb;
      }

      li {
        position: relative;
        width: 33.33%;
        padding: 10px 0;
        font-size: 32px;
        color: #fff;
        text-align: center;
        height:inherit;
        border-right: 1px solid rgba(255,255,255,.5);
        @media(min-width: 1024px){
          padding: 8px 0;
          font-size: 18px;
        }
        .close-subnav {
          display: none;
          content: "x";
          position: absolute;
          top: 3px;
          right: 3px;
          height: 24px;
          width: 24px;
          background: grey;
          border-radius: 50%;
          padding: 3px;
          font-size: 22px;
          line-height: .7;
        }
        &:last-child {
          border: none;
        }
        &.active {
          background: #5bafdb;
          .drop {
            z-index: 9;
            display: block;
          }
          .close-subnav {
            display: block;
          }
        }
        .drop {
          font-size: 48px;

          color: #333;
          display: none;
          width:100vw;
          height:100vh;
          background: #f6fafd;
          position: absolute;
          top: 98px;
          left:0;
          text-align: left;
          padding:30px 20px;
          line-height: 1.2;
        }
        .first-drop {
          p {
            padding:0 30px 0 40px;
          }
          .date {
            background: #2d92d0;
            display: inline-block ;
            color: #ffffff;
            font-size: smaller;
            padding: 14px 40px;
            margin: 28px 0;
          }
        }
        .first-drop, .third-drop {
          p {
            position: relative;
            &::before {
              content:"";
              border-radius: 50%;
              height:22px;
              width:22px;
              display: block;
              background: #2d92d0;
              position: absolute;
              top:12px;
              left:4px;
            }
          }
        }
        .third-drop {
          p {
            padding:0 30px 0 40px;
          }
        }
        &:nth-child(2){
          .drop {
            left:-33.33vw;
          }
        }
        &:nth-child(3){
          .drop {
            left:-66.66vw;
          }
        }
        .hline, .subhline {
          font-family: "baltoBold";
          border-left:12px solid #2d92d0;
          padding: 0px 15px;
          line-height: 1.1;
          span {
            font-family: "baltoBook";
            display: block;
            font-size:smaller;
            margin-top: 8px;
          }
        }
        .hline {
          margin:0px 20px;
        }
        .hline ~ .hline {
          margin:78px 20px;
        }
        .subhline {
          padding: 28px 15px 28px 48px;
          margin:0px 20px;
          margin-top:-78px;
        }
        .subhline ~ .subhline {
          padding: 28px 15px 28px 48px;
          margin:0px 20px;
        }

        > span {
          font-size: 14px;
          @media(max-width:1024px) {
            font-size: 24px;
          }
          background: red;
          border-radius: 50%;
          padding:6px;
        }
      }
    }
  }

}
