body[data-controller="design_explorations"][data-action="new_stories_menu"] {
  .below-guides {
    display: none;
  }
  @media(max-width: 1024px){
    margin-bottom: 0;
    background: asset-url("mobile-hp.jpg") no-repeat center;
    background-position: 0 128px;
    background-size: cover;
  }
  background: asset-url("hp.jpg") no-repeat center;
  background-position: center 160px;
  background-size: 1200px;;
}
body[data-controller="design_explorations"][data-action="guides"], body[data-controller="design_explorations"][data-action="new_stories_menu"] {
  .fake-inman-nav {
    width: 100%;
    font-family: "baltoBook";
    height: 52px;
    background: #4679ac;
    position: relative;
    top: 0;
    left: 0;
    padding: 12px 0;
    @media(max-width: 1024px){
      margin-bottom: 0;
      height: auto;
    }
    button {
      outline: none;
    }
    .hamburger {
      position: absolute;
      z-index: 9;
      left:10px;
    }

    h2 {
      color: #ffffff;
      font-family: "baltoBold";
      font-size: 24px;
      background: asset-url("inman-logo.png") no-repeat center;
      background-size: 104px;
      text-indent: -3000em;
      overflow: hidden;
      position: relative;
      top: 6px;
      @media(min-width: 1024px){
        font-size: 14px;
      }
    }
    .menu-btn {
      color: #fff;
    font-size: 14px;
      position: absolute;
      border: 1px solid #ffffff;
      padding: 5px 17px;
      line-height: 1.3;
      @media(max-width: 1024px){
        left: 34px;
        top: 14px;
        height: 48px;
        width: 127px;
        font-size: 32px;
      }
    }
    .account-btn {
      color: #fff;
      font-size:30px;
      position: absolute;
      right: 50px;
      top: 22px;
      height: 23px;
      width: 36px;
      @media(min-width: 1024px){
        font-size: 14px;
      }
    }
  }



  .new-stories-nav {

    height:66px;
    top:26px;
    position: relative;
    font-size: 30px;
    font-family: "baltoBook";
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top:0;
      left: 1%;
      height: 1px;
      width: 98%;
      background-color: rgba(255,255,255,.5);
    }
    @media(max-width:1024px) {
      height:66px;
    }
    background: #4679ac;
    .drop {
      width:100vw;
      height:auto;
      background: #ffffff;
      @media(max-width:1024px) {
         min-height:100vh;
      }
    }
    ul {
      //padding:8px;
      display: flex;
      justify-content: space-around;
      height:100%;
      box-sizing: initial;

      &.menu-border-on {
        border-bottom: 24px solid #5bafdb;
        li::after {
          display: none;
        }
      }

      li {
        position: relative;
        width: 33.33%;
        padding: 10px 0;
        color: #fff;
        text-align: center;
        //height:inherit;
        &::after {
          content: "";
          width: 1px;
          height: 30px;
          margin: 10% 0;
          background: rgba(255,255,255,.5);
          display: inline-block;
          position: absolute;
          top: -18px;
          right: 0;
        }
        @media(min-width: 1024px){
          padding: 8px 0;
          font-size: 18px;
        }
        .close-subnav {
          display: none;
          content: "x";
          position: absolute;
          top: 3px;
          right: 3px;
          height: 24px;
          width: 24px;
          background: grey;
          border-radius: 50%;
          padding: 3px;
          font-size: 30px;
          line-height: .7;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        &.active {
          background: #5bafdb;
          //width: 34.3%;
          //margin-left: 5%;
          .drop {
            z-index: 9;
            display: block;
            @media(min-width: 1024px) {
              display: flex;
            }
          }
          .close-subnav {
            display: block;
          }
        }
        .drop {
          font-size: 24px;

          color: #333;
          display: none;
          width:100vw;
          //height:100vh;
          background: #f6fafd;
          position: absolute;
          top: 70px;
          left:0;
          text-align: left;
          padding:30px 20px;
          line-height: 1.2;
          @media(min-width:1024px) {
            top:68px;
          }
        }
        .first-drop {

          @media(min-width:1024px) {
            //display: flex;
            > span {
              display: inline-block;
              width:33.3333%;
              font-size: 18px;
              padding: 0 24px;
            }
          }
          p {
            padding:0 30px 0 40px;
          }
          .date {
            background: #4679ac;
            display: inline-block ;
            color: #ffffff;
            font-size: smaller;
            padding: 14px 40px;
            margin: 28px 0;
          }
        }
        .first-drop, .third-drop {
          p {
            position: relative;
            @media(min-width:1024px) {
              padding: 0 40px 0 26px;
            }
            &::before {
              content:"";
              border-radius: 50%;
              height:14px;
              width:14px;
              display: block;
              background: #4679ac;
              position: absolute;
              top:6px;
              left:4px;
              @media(min-width:1024px) {
                top:6px;
                height:11px;
                width:11px;
              }
            }
          }
        }
        .third-drop {
          @media(min-width:1024px) {
            font-size: 16px;
          }
          p {
            padding:0 30px 0 40px;
          }
        }
        &:nth-child(2){
          .drop {
            left:-33.33vw;
            @media(min-width:1024px) {
              font-size: 18px;
              p {
                height: 120px;
                align-self: flex-start;
              }
            }
          }
        }
        &:nth-child(3){
          .drop {
            left:-66.66vw;
          }
        }
          .hline, .subhline {
            font-family: "baltoBold";
            border-left:4px solid #4679ac;
            padding: 0px 15px;
            line-height: 1.1;
            span {
              font-family: "baltoBook";
              display: block;
              font-size:smaller;
              margin-top: 8px;
            }
          }
        @media(max-width:1024px) {
          .hline, .subhline {
            border-left:12px solid #4679ac;
          }
          .hline {
            margin:0px 20px;
          }
          .hline ~ .hline {
            margin:48px 20px;
          }
          .subhline {
            padding: 28px 15px 28px 48px;
            margin:0px 20px;
            margin-top:-78px;
          }
          .subhline ~ .subhline {
            padding: 28px 15px 28px 48px;
            margin:0px 20px;
          }
        }
        > span {
          font-size: 24px;
          @media(min-width:1024px) {
            font-size: 14px;
            padding:5px;
            top:-2px;
            position: relative;
          }
          background: red;
          border-radius: 50%;
          padding:3px;
          font-size: smaller;
        }
      }
    }
  }

}
