$hamburger-layer-color                     : #ffffff;
$hamburger-layer-width                     : 80px;
$hamburger-layer-spacing                   : 20px;

@import "hamburgers";


* { box-sizing: border-box;}
body {
  background-color: #333;
  color:#999;
  font-family: sans-serif;
  font-size: 14px;
  line-height:1.6;
  overflow-x: hidden;
}
a {
  color:#2d92d0;
  text-decoration: none;

}
p {
  margin: 0 0 1em 0;
}
.bold {
  font-weight: bold;
}

.design-logo-main {
  opacity: .4;
  position: absolute;
  right: 45px;
  top:45px;
  margin-bottom: .5rem;
}
