* { box-sizing: border-box;}
body {
  background-color: #333;
  color:#999;
  font-family: sans-serif;
  font-size: 14px;
  line-height:1.6;
  overflow-x: hidden;
}
a {
  color:#2d92d0;
  text-decoration: none;
}
p {
  margin: 0 0 1em 0;
}
.bold {
  font-weight: bold;
}
body[data-controller="style_guide"][data-action="typography"] {
    padding-bottom: 75vh;
    padding-top: 90px;
   .content {
    display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;
    max-width: 1980px;
    > section {
      padding: 20px;
      &.main-column {
        margin-left: 230px;
      }
      &.toc-column {
        position: fixed;
        left: 0;
        top: 0;
        width: 230px;
        background: #222;
        overflow-y: scroll;
        height:100vh;
        padding-top: 50px;
        .back-btn {
          position: absolute;
          margin-bottom: 17px;
          display: block;
          background: #111;
          width: 100%;
          left: 0;
          top: 0;
          padding: 10px;
        }
        ul.type-instances {
          padding: 0 0 0 6px;
          a { opacity: .7;}
          li {
            color:#777;
            ul.type-group {
              padding: 0 0 0 8px;
              li {
                color:#aaa;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  h1 {
    font-weight: bold;
    margin: .5em 0 .25rem 0;
  }

  h2 {
    margin-bottom: .5rem;
    clear: both;
    text-transform: capitalize;
    opacity: .7;
  }

  h3 {
    margin-bottom: .25rem;
    font-size:10px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h4 {

  }
  .sample {
    background:#ffffff;
    padding:15px;
    color:#222;
    min-width: 420px;
  }
  .design-logo-main {
    opacity: .4;
    position: absolute;
    right: 45px;
    top:45px;
    margin-bottom: .5rem;
  }
  section.specs {
    padding: 10px;
    margin-bottom: 1em;
    display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;
    max-width: 1200px;
    .column-left {
      width: 230px;
      flex: 0 0 230px;
    }
    .specs-list {
      background:#444;
      padding:15px;
      color:#888;
      span {
        font-weight: bold;
      }
    }
    .rr-headline-list {
      li {
        font-family: "harrietbold";
        font-size: 18px;
      }
    }
  }
  .regular-article-headline {
    font-family: 'harrietbold';
    font-size: 36px;
    line-height: 1;
    color:#374145;
  }
  .eyebrow, .byline {
    font-family: "BaltoBook";
    color:#999;
    .author-name {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size:13px;
    }
  }
  .dek {
    font-family: 'baltoBook';
    font-size: 20px;
    line-height: 1.4;
    color: #444;
  }
  .section-wrap {
    padding-left: 15px;
    border-bottom: 1px solid #555;
    margin-bottom: 2em;
  }
  .intro-container {
    display: flex;
    align-items:flex-start;
    margin-bottom: 1em;
    .scale, .alphabet {
      display: inline-block;
      vertical-align: top;
      margin-right: 0 30px;
    }
    .alphabet {
      margin-right: 30px;
      p {
        font-size: 24px;
        margin: 0;
        line-height: 1.2;
        letter-spacing: 1px;
      }
    }
    .scale {
      span {
        margin-right: 8px;
        &:nth-of-type(1) {
          font-size:14px;
        }
        &:nth-of-type(2) {
          font-size:18px;
        }
        &:nth-of-type(3) {
          font-size:24px;
        }
        &:nth-of-type(4) {
          font-size:30px;
        }
        &:nth-of-type(5) {
          font-size:36px;
          margin-right: 0;
        }
      }
    }
    .balto-sample {
      font-family: "baltoBook";
    }
    .harriet-sample {
      font-family: "harrietBold";
    }
    .balto-sample, .harriet-sample {
      margin: 0 80px 0 0;
    }
    .welcome-text {
      width:400px;
      font-size: 12px;
      padding-right: 90px;
    }
    img {
      position: relative;
      top: -12px;
    }
  }
}
