body[data-controller="style_guide"][data-action="index"] {
  padding: 120px 60px;
  .back-btn {
    text-indent: -3000rem;
  }
//  #btn-toggle-mobile{display: none;}
  #maincol {
    //max-width: 840px;
    margin: auto;
    margin-left: auto;
    h3 {
      padding-left: 1em;
      margin-bottom: 1rem;
      letter-spacing: initial;
      font-size: initial;
      text-transform: initial;
      font-weight: initial;
    }
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 1px;
      background:#272727;
      color: #858585;
      padding:12px 12px;
      margin-bottom: 1rem;
      border-radius: 8px;
    }
    h1 {
      font-size: 1.5rem;
    }
    > div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      section {
        min-width: 240px;
        margin-bottom: 3rem;
        margin-right: .5rem;
        flex-grow:1;
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}
