body[data-controller="style_guide"][data-action="typography"] {
  .swatch {
    background-color: #0a7bb5;
  }
  h1 {
    color:#00e3ff73;
  }
  #btn-toggle-mobile .desktop { color:#349ec7; }

}
body[data-controller="style_guide"][data-action="interview"] {
  .swatch {
    //background-color: #4e438e;
  }
  h1 {
    //color:lighten(#4e438e, 20%);
  }
  .toc-column {
    a {
      //color:lighten(#4e438e, 30%);
    }
  }
//  #btn-toggle-mobile .desktop { color: lighten(#4e438e, 30%);  }
}
body[data-controller="style_guide"][data-action="opinion"] {
  .swatch {
    background-color: #4e438e;
  }
  h1 {
    color:lighten(#4e438e, 20%);
  }
  .toc-column {
    a {
      color:lighten(#4e438e, 30%);
    }
  }
  #btn-toggle-mobile .desktop { color: lighten(#4e438e, 30%);  }
}
body[data-controller="style_guide"][data-action="service"] {
  .swatch {
    background-color: lighten(#fc7906, 0%);
  }
  h1 {
    color:#fc7906;
  }
  .toc-column {
    a {
      color:lighten(#fc7906, 30%);
    }
  }
  #btn-toggle-mobile .desktop { color: lighten(#fc7906, 30%);  }
}
body[data-controller="style_guide"][data-action="typography"],body[data-controller="style_guide"][data-action="interview"], body[data-controller="style_guide"][data-action="opinion"], body[data-controller="style_guide"][data-action="service"] {
    .page-title {
      text-transform: uppercase;
      color: #6d6d6d;
      letter-spacing: 4px;
      line-height: 1;
      margin:1em 0;
    }
    padding-bottom: 75vh;
    padding-top: 90px;
   .content {
    display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;
    max-width: 1980px;
    > section {
      padding: 20px;
      &.main-column {
        margin-left: 230px;
      }
      &.toc-column {
        position: fixed;
        left: 0;
        top: 0;
        width: 230px;
        background: #222;
        overflow-y: scroll;
        height:100vh;
        padding-top: 50px;

        .back-btn {
          position: absolute;
          margin-bottom: 17px;
          display: block;
          background: #111;
          width: 100%;
          left: 0;
          top: 0;
          padding: 10px;
        }
        ul.type-instances {
          padding: 0 0 0 6px;
          a { opacity: .7;}
          li {
            color:#777;
            ul.type-group {
              padding: 0 0 0 8px;
              li {
                color:#aaa;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  h1 {
    font-weight: bold;
    margin: .5em 0 .25rem 0;
  }

  .section-wrap > h2 {
    margin-bottom: .5rem;
    clear: both;
    text-transform: capitalize;
    opacity: .7;
  }

  h3 {
    margin-bottom: .25rem;
    font-size:10px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h4 {

  }
  .sample {
    background:#ffffff;
    padding:15px;
    color:#222;
    width: 100%;
    transition: all .4s linear;
  }

  section.specs {
    padding: 10px;
    margin-bottom: 1em;
    display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;
    max-width: 1200px;
    .column-left {
      width: 230px;
      flex: 0 0 230px;
    }
    .specs-list {
      background:#444;
      padding:15px;
      color:#888;
      span {
        font-weight: bold;
      }
    }
    .rr-header {
      font-size: 30px;
      color: #010101;
      width: 290px;
      font-family: "harrietBold";
      border-bottom: 3px solid #5cb2e1;
    }
    .rr-headline {
      font-family: "harrietRegular";
      font-size: 22px;
      color: #000000;
    }
    .byline {
      font-family: "harrietRegular";
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 0;
      &.rr-byline {
        font-size: 10px;
      }
      .author-name {
        text-transform: uppercase;
        letter-spacing: 1.4px;
      }
    }
    .date {
      font-family: "harrietRegular";
      font-size: 14px;
      color: #000000;
    }
  }
  .regular-article-headline {
    font-family: 'harrietbold';
    font-size: 55px;
    line-height: 1.1;
    color:#000000;
  }
  .opinion-headline {
    font-family: 'harrietbold-italic';
    font-size: 36px;
    line-height: 1;
    color:#374145;
  }
  .eyebrow, .byline {
    font-family: "BaltoBold";
    color:#999;
    font-size: 18px;
    letter-spacing: 1.4px;
  }
  .image-caption {
    font-family: "BaltoBook";
    color:#797878;
    font-size: 15px;
    letter-spacing: 1.2px;
  }
  hr {
    border-color: #000;
    border-width: .5px;
  }
  .image-credit {
    &::before {
      content: "";
      height: 24px;
      width: 1px;
      margin-right: 24px;
      padding-top: 3px;
      display: inline-block;
      background: #000000;
      position: relative;
      top: 10px;
    }
    font-family: "baltoBook";
    font-size:12px;
    color:#000000;
    letter-spacing: 1.6px;
    margin-bottom: .75em;
    a {
      text-decoration: underline;
    }
  }
  .body-copy {
    font-family:"HarrietRegular";
    font-size: 24px;
    color: #555;
  }
  .opinion-body-copy {
    font-family:"hr";
    color: #555;
    font-size: 16px;
    a {
      color:#544096;
      text-decoration: underline;
    }
  }
  .sharing-top {
    img {
      height: 32px;
      padding-right: 16px;
    }
  }
  .opinion-highlighted-text {
    background: #544096;
    color: #ffffff;
    padding: 3px;
  }
  .highlighted-text {
    background: #5cb2e1;
    color: #ffffff;
    padding: 3px;
  }
  .block-quote {
    font-size: 18px;
    padding:0 2rem;
  }
  .pull-quote {
    font-family: "harrietRegular";
    font-size: 24px;
    width:280px;
    color: #00aae8;
    line-height: 1.2;
  }
  .opinion-pull-quote {
    font-family: "baltoBold";
    font-size: 24px;
    width:280px;
    color: #544096;
    line-height: 1.2;
  }
  .opinion-bullet-list {
    color: #555;
    li {
      &:before {
        content: "•";
        color: #544096;
        padding: 0 8px 0 0;
      }
    }
  }
  .bullet-list {
    color: #555;
    li {
      &:before {
        content: "•";
        color: #00aae8;
        padding: 0 8px 0 0;
      }
    }
  }
  .opinion-numbered-list {
    li {
      counter-increment: section;
      margin-bottom: 10px;
      text-transform: capitalize;
      color: #555;
      &:before {
        content: counters(section,"");
        display: inline-block;
        text-align: center;
        padding: 2px 13px;
        color: #fff;
        background: #544096;
        font-family: "baltoBold";
        font-size: 20px;
      }
      span {
        padding-left: 7px;
      }
    }
  }
  .numbered-list {
    li {
      counter-increment: section;
      margin-bottom: 10px;
      text-transform: capitalize;
      color: #555;
      &:before {
        content: counters(section,"");
        display: inline-block;
        text-align: center;
        padding: 2px 13px;
        color: #fff;
        background: #01abe9;
        font-family: "baltoBold";
        font-size: 20px;
      }
      span {
        padding-left: 7px;
      }
    }
  }
  .dek {
    font-family: 'harrietRegular';
    font-size: 23px;
    line-height: 1.4;
    color: #000000;
  }
  .inline-opinion-link {
    color:#544096;
  }
  .inline-link {
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color:#2f719a;
    }
  }
  .recirc-related-headline {
    background:#14364b;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    max-width: 300px;
  }
  .recirc-related-blurb {
    background:#0b1e2a;
    color: #ffffff;
    font-size: 13px;
    max-width: 300px;
  }
  .recirc-category-headline {
    font-family: "hli";
    color: #ffffff;
    font-size: 17px;
    max-width: 300px;
    p {
      background: rgba(52, 158, 199, 0.9);
      padding: 12px 24px;
    }
  }
  .section-wrap {
    padding-left: 15px;
    border-bottom: 1px solid #555;
    margin-bottom: 2em;
  }
  .intro-container {
    display: flex;
    align-items:flex-start;
    margin-bottom: 1em;
    .scale, .alphabet {
      display: inline-block;
      vertical-align: top;
      margin-right: 0 30px;
    }
    .main-color {
      margin-top: 3rem;
      .swatch {
        height:48px;
        width:48px;
      }
    }
    .alphabet {
      margin-right: 30px;
      p {
        font-size: 24px;
        margin: 0;
        line-height: 1.2;
        letter-spacing: 1px;
      }
    }
    .scale {
      span {
        margin-right: 8px;
        &:nth-of-type(1) {
          font-size:14px;
        }
        &:nth-of-type(2) {
          font-size:18px;
        }
        &:nth-of-type(3) {
          font-size:24px;
        }
        &:nth-of-type(4) {
          font-size:30px;
        }
        &:nth-of-type(5) {
          font-size:36px;
          margin-right: 0;
        }
      }
    }
    .balto-sample {
      font-family: "baltoBook";
    }
    .harriet-sample {
      font-family: "harrietBold";
    }
    .balto-sample, .harriet-sample {
      margin: 0 80px 0 0;
    }
    .welcome-text {
      width:400px;
      font-size: 12px;
      padding-right: 90px;
    }
    img {
      position: relative;
      top: -12px;
    }
  }

  #btn-toggle-mobile {
    border-bottom: 4px dotted #111;
    padding: 4px 0 10px 0;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    .mobile {
      color:#555;
      transition: color .2s ;
    }
    .desktop {
      transition: color .2s;
    }
    .random-line {
      background: #777;
      height: 1px;
      width:25px;
      display:inline-block;
      vertical-align: middle;
    }
    .random-rectangle {
      height:10px;
      width: 4px;
      display:inline-block;
      //border: 1px solid #349ec7;
      background: #349ec7;
      vertical-align: middle;
      position: relative;
      left: -12.5px;
      transition: left .2s linear;
    }
  }
  &.mobile-styles-active {
    #btn-toggle-mobile {
      .mobile { color:#349ec7; }
      .desktop { color:#555; }
      .random-rectangle { left: -25px; }
    }
  }
  //// mobile styles
  // body {
  &.mobile-styles-active {
    .sample { width: 320px;}
    .eyebrow {}
    .primary-headline {}
    .dek {}
    .byline {}
    .sharing-top {}
    .image-caption {}
    .image-credit {}
    .body-copy {}
    .inline-link {}
    .highlighted-text {}
    .block-quote {}
    .pull-quote {}
    .numbered-list {}
    .bullet-list {}
    .rr-header {}
    .rr-headline {}
    .rr-byline {}
    .recirc-related-headline {}
  }
}
